apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    livenessProbe:
      httpGet:
        path: /
        port: 3001
      initialDelaySeconds: 15
      periodSeconds: 10

    readinessProbe:
      httpGet:
        path: /
        port: 3001
      initialDelaySeconds: 5
      periodSeconds: 5


    spec:
      containers:
      - name: myapp
        image: shobhitnagar/myapp:IMAGE_TAG
        livenessProbe:
          httpGet:
          path: /
          port: 3001
        initialDelaySeconds: 15
        periodSeconds: 10

        readinessProbe:
          httpGet:
          path: /
          port: 3001
        initialDelaySeconds: 5
        periodSeconds: 5
        ports:
        - containerPort: 3001
